<%- include('header') -%>
<body>
    <%- include('nav') -%>
    <div id="tableContainer">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Наименование</th>
                    <th scope="col">Адрес</th>
                    <th scope="col">Lat Координати</th>
                    <th scope="col">Lon Координати</th>
                    <th scope="col">Редакция/Изтриване</th>
                </tr>
            </thead>
            <tbody>
                <% if (clinics != null || clinics != undefined) { %>
                    <% clinics.forEach((clinic, index) => { %>
                        <tr>
                            <th scope="row"><%= clinic.clinicName %></th>
                            <td><%= clinic.clinicAddr %></td>
                            <td><%= clinic.LatCoords %></td>
                            <td><%= clinic.LonCoords %></td>
                            <td>
                                <a href="/clinics/edit/<%= clinic.id %>" target="_self" rel="noopener" class="btn btn-sm btn-success">Редактирай</a>
                                <a href="/clinics/delete/<%= clinic.id %>" class="btn btn-sm btn-danger" onclick="return confirm('Сигурни ли сте, че искате да изтриете това здравно заведение?')">Изтрии</a>
                            </td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
        <button id="buttonAdd" class="btn btn-md btn-primary" onclick="div_show()">Добавете здравно заведение</button>
    </div>
    <script>
        // screen message
        function tempAlert(msg,duration){
            var el = document.createElement("div");
            el.setAttribute("id","successMessage");
            el.setAttribute("class","align-middle")
            el.innerHTML = "<h4>"+ msg + "</h4>";
            setTimeout(function(){
            el.parentNode.removeChild(el);
            },duration);
            document.body.appendChild(el);
        }

        var result = new URL(location.href).searchParams.get("action");
        
        if (result == "updated"){
            tempAlert("Редакцията извършена успешно!", 3000);
        } else if (result == "add") {
            setTimeout('reloadIt()', 10)();
        } else if (result == "added"){
            document.getElementById("done").scrollIntoView();
            tempAlert("Добавянето премина успешно!", 3000);
        } else if (result == "existing"){
            tempAlert("Съществуваща Клиника! Добавянето Прекратено!", 3000);
        }

        function reloadIt() {
            if (window.location.href.substr(-4) !== "list") {
                window.location = window.location.href + "ed";
            }
        }
        
        function div_show() {
            document.getElementById('popupAdd').style.display = "block";
        }
        function div_hide(){
            document.getElementById('popupAdd').style.display = "none";
        }
    </script>
    <div id="popupAdd">
        <div class="row justify-content-center" id="addClinic">
            <div class="col-sm-auto">
                <div class="card mx-auto" style="width: 22rem;" >
                        <img src="/images/emergency.jpg" class="card-img-top" alt="Добавяне на ново здравно заведение!">
                        <div class="card-body">
                            <h4 style="text-align: center;">Добавяне на здравно заведение</h4>
                            <hr>
                            <form class="px-4 py-3" method="POST" action="/clinics/add">
                                <div class="form-group">
                                    <input id="name" class="form-control" name="clinicName" placeholder="Наименование" type="text" required>
                                </div>
                                <div class="form-group">
                                    <input id="addr" class="form-control" name="clinicAddr" placeholder="Адрес" type="text" required>
                                </div>
                                <div class="form-group">
                                    <input id="latCoords" class="form-control" name="LatCoords" placeholder="Lat Координати" type="text" readonly="yes">
                                </div>
                                <div class="form-group">
                                    <input id="lonCoords" class="form-control" name="LonCoords" placeholder="Lon Координати" type="text" readonly="yes">
                                </div>

                                <input type="submit" class="btn btn-sm btn-primary" value="Добави">
                                <input type="reset" id="cancelAdd" class="btn btn-sm btn-dark" onclick="div_hide()" value="Отказ" />
                            </form>
                        </div>
                </div>
            </div>
            <div class="col-sm-6">
                    <div id="map" class="card"></div>
            </div>
        </div>
    </div>
    <script async defer type="text/javascript" src='<%= process.env.CLINICS_API_URL %>' >
    </script>
    <script src="/map.js" type="text/javascript"></script>
    
</body>
<%- include('footer') -%>