<%- include('header') -%>
<body>
    <%- include('nav') -%>
    <div id="tableContainer">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Наименование</th>
                    <th scope="col">Адрес</th>
                    <th scope="col">Lat Координати</th>
                    <th scope="col">Lon Координати</th>
                    <th scope="col">Редакция/Изтриване</th>
                </tr>
            </thead>
            <tbody>
                <% if (clinics != null || clinics != undefined) { %>
                    <% clinics.forEach((clinic, index) => { %>
                        <tr>
                            <th scope="row" id="<%= clinic.id %>"><%= clinic.clinicName %></th>
                            <td><%= clinic.clinicAddr %></td>
                            <td><%= clinic.LatCoords %></td>
                            <td><%= clinic.LonCoords %></td>
                            <td>
                                <button class="btn btn-sm btn-success" onclick="edit('clinic', <%= clinic.id %>)">Редактирай</button>
                                <button class="btn btn-sm btn-danger" onclick="del('clinic', <%= clinic.id %>)">Изтрии</button>
                            </td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
        <button id="buttonAdd" class="btn btn-md btn-primary" onclick="add('clinic')">Добавете здравно заведение</button>
    </div>
    <script src="/scripts/helper.js" type="text/javascript"></script>
</body>
<%- include('footer') -%>