<%- include('header') -%>
<body>
    <%- include('nav') -%>
    <div id="tableContainer">
        <table class="table">
            <thead class="people-header">
                <tr>
                    <th scope="col">Име</th>
                    <th scope="col">Адрес</th>
                    <th scope="col">Lat Координати</th>
                    <th scope="col">Lon Координати</th>
                    <th scope="col">Редакция/Изтриване</th>
                </tr>
            </thead>
            <tbody>
                <% if (persons != null || persons != undefined) { %>
                    <% persons.forEach((person, index) => { %>
                        <tr>
                            <th scope="row" id="<%= person.id %>"><%= person.personName %></th>
                            <td><%= person.personAddr %></td>
                            <td><%= person.LatCoords %></td>
                            <td><%= person.LonCoords %></td>
                            <td>
                                <button class="btn btn-sm btn-success" onclick="edit('person', <%= person.id %>)">Редактирай</button>
                                <button class="btn btn-sm btn-danger" onclick="del('person', <%= person.id %>)">Изтрии</button>
                            </td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
        <button id="buttonAdd" class="btn btn-md btn-primary" onclick="add('person')">Добавете човек</button>
    </div>
    <script src="/scripts/helper.js" type="text/javascript"></script>
</body>
<%- include('footer') -%>